.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .col {
    flex: 1 1 auto;
} */
.container div {
    width: 50%;
    height: 100%;
  }

  mat-card{
    margin-left: 5%;
    margin-right: 5%;
  }

  mat-form-field{
    width: 70%;
  }

  p{
    margin-bottom: 1%;
    margin-top: 1%;

  }

  .text-content{
    padding-left: 15%;
  }