
<mat-toolbar color="primary">
    <span>
    <img src="./assets/images/logo-chek.png" width="100%"  height="50" alt="">
    </span>
    <span class="example-spacer"></span>
  </mat-toolbar>
    <mat-toolbar>
      <mat-toolbar-row style="background-color: black;color:white">
        <span>
    <img src="./assets/images/ripley.png" width="50"  height="40" alt="">

        </span>
        <span class="example-spacer"></span>
      </mat-toolbar-row>
    </mat-toolbar>



  <mat-card>
    <mat-card-content>
      <div class="container">
          <div class="col" style="text-align: center;">
          <h1><strong>Bienvenido a Check</strong></h1>
          <p>Haz recibido un correo electrónico para activar tu cuenta</p>
          <img src="./assets/images/welcome.png" width="60%"   alt="">
        </div>
    </div>
    <div class="container">
        <button mat-raised-button routerLink="/login" color="primary">Iniciar Sesión</button>
      </div>
    </mat-card-content>
  </mat-card>
