.body{
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
  background-color: #8547a2;
}

.login{
  width: 100%;
  max-width: 330px;
  text-align: center;
}

mat-card{
  padding: 5%;
}

.width-custom{
  width: 65%;
}

button{
  margin-bottom: 2%;
}
.button{
  height: 50px;
}
